/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

/* BODY */
body {
    background-color: rgba(100, 155, 197, 0.05);
    overflow-x: hidden;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
.header {
    height: 80px;
    background-color: rgba(100, 155, 197, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    gap: 25px;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 105;
}

/* BACKSIDE HEADER */
.back-header {
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/* --- HEADER SECTIONS --- */
.header-left,
.header-middle,
.header-right {
    display: flex;
    align-items: center;
}

/* HEADER LEFT */
.header-left {
    flex: 0 0 auto;
    justify-content: flex-start;
}

/* HEADER MIDDLE */
.header-middle {
    flex: 0 0 auto;
}

/* HEADER RIGHT */
.header-right {
    flex: 0 0 auto;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 15px;
}

/* LOGO */
.logo {
    height: 90px;
    margin: 0 75px 0 80px;
    padding-top: 5px;
    vertical-align: middle;
}

/* TOGGLE BUTTON */
.toggle-btn {
    position: fixed;
    top: 95px;
    left: 214px;
    margin-left: 15px;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 155, 197, 1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    overflow: hidden;
    z-index: 105;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: left 0.3s ease, transform 0.3s ease,
        background-color 0.3s ease, box-shadow 0.3s ease;
}

.toggle-btn:hover {
    background-color: rgba(80, 140, 185, 1);
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.toggle-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* TOGGLE ICON */
.right-double-arrow-icon {
    position: absolute;
    font-size: 18px;
    color: white;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.right-double-arrow-icon.rotated {
    transform: rotate(180deg);
}


/* SEARCH BAR */
.search-container {
    position: relative;
}

.search-container input {
    width: 500px;
    padding: 10px 0 10px 40px;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Poppins';
    border: none;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.search-container input::placeholder {
    color: rgba(100, 155, 197, 0.8);
}

.search-container input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(100, 155, 197, 0.7) !important;
}

/* SEARCH ICON */
.search-icon {
    position: absolute;
    left: 12px;
    font-size: 17px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(100, 155, 197, 1);
}

.search-container:focus-within .search-icon {
    left: auto;
    right: 0;
    width: 40px;
    height: 100%;
    background-color: aliceblue;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.search-container:focus-within input {
    padding: 10px 40px 10px 10px;
}

/* HEADER ACTIONS BUTTONS */
.wallet-btn,
.notification,
.user-profile {
    border: none;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* WALLET BUTTON */
.wallet-btn {
    background-color: rgba(100, 155, 197, 1);
    color: white;
    gap: 6px;
    font-size: 11px;
    padding: 6px 9px;
}

.wallet-btn .wallet-icon {
    font-size: 18px;
}

.wallet-btn span,
.wallet-btn p {
    font-family: 'Inter';
    font-weight: 400;
    letter-spacing: 1px;
}

/* NOTIFICATION BUTTON */
.notification {
    background-color: rgba(100, 155, 197, 1);
    color: white;
    padding: 6px;
    position: relative;
}

.notification-bell-icon {
    font-size: 18px;
}

.notification .count {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 9px;
    height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-size: 6px;
    font-weight: 400;
    background-color: rgba(210, 88, 27, 0.9);
    color: white;
    border-radius: 50%;
}

/* HOVER EFFECTS */
.wallet-btn:hover,
.notification:hover,
.user-profile:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* USER INFO / PROFILE */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-family: 'Poppins';
    font-weight: 500;
    color: rgba(100, 155, 197, 1);
}

.welcome-text {
    font-size: 15px;
    line-height: 1.3;
}

.user-id {
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: 7px;
}

.arrow-drop-down-icon {
    font-size: 15px;
    line-height: 1;
    vertical-align: middle;
    transform: translateY(-2px);
}

.user-profile {
    padding: 7px;
    background-color: rgba(100, 155, 197, 1);
    color: white;
    display: none;
}

.user-profile-icon {
    font-size: 18px;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 240px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    background: linear-gradient(to bottom, rgba(100, 155, 197, 1), rgba(48, 75, 95, 1));
    transition: width 0.3s ease;
    overflow: visible;
    scrollbar-width: none;
    z-index: 100;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-content {
    flex: 0 0 auto;
}

.sidebar-link {
    display: block;
    padding: 0 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    color: white;
    line-height: 2.3;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transform: translateX(4px);
}

.sidebar-footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
}

.sidebar-footer .sidebar-link {
    padding: 0 15px;
    line-height: 2.3;
}

.sidebar-items {
    display: grid;
    grid-template-columns: 24px 1fr 16px;
    align-items: center;
    gap: 10px;
}

.sidebar-icons {
    font-size: 16px;
    text-align: center;
    min-width: 24px;
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.sidebar-items span {
    display: inline;
    font-size: 12px;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar-link .arrow-icon {
    height: 14px;
    display: inline;
    justify-self: end;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar-items .last {
    grid-column: 1 / -1;
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
}

/* COLLAPSED SIDEBAR */
.sidebar.collapsed {
    width: 70px;
    padding-top: 13.5px;
}

.sidebar.collapsed .sidebar-items {
    grid-template-columns: 1fr;
    height: 32px;
    justify-items: center;
}

.sidebar.collapsed .sidebar-items span,
.sidebar.collapsed .right-arrow-icon,
.sidebar.collapsed .sidebar-footer .last {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.sidebar.collapsed .sidebar-footer {
    height: 0;
    margin: 0;
    overflow: hidden;
}

.sidebar-link .tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 49px;
    background-color: rgba(51, 51, 51, 0.5);
    color: rgba(255, 255, 255, 0.6);
    padding: 4px 9px;
    font-size: 11px;
    font-family: 'Poppins';
    border-radius: 9px;
    white-space: nowrap;
    pointer-events: none;
    transition: opacity 0.2s ease, background-color 0.5s ease 1s, color 0.5s ease 1s;
    z-index: 9999;
}

.sidebar-link .tooltip-text::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent rgba(51, 51, 51, 0.5) transparent transparent;
    transition: border-color 0.5s ease 1s;
}

.sidebar.collapsed .sidebar-link:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    background-color: rgba(51, 51, 51, 0.95);
    color: white;
}

.sidebar.collapsed .sidebar-link:hover .tooltip-text::before {
    border-color: transparent rgba(51, 51, 51, 0.95) transparent transparent;
}

/* TOPBAR */
.top-bar {
    position: fixed;
    top: 80px;
    left: 240px;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 45px;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 400;
    background: linear-gradient(to right,
            rgba(19, 100, 152, 0.8),
            rgba(210, 88, 27, 0.7),
            rgba(19, 100, 152, 0.8));
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
        inset 0 4px 4px rgba(255, 255, 255, 0.3);
    z-index: 90;
}

/* BACKSIDE TOPBAR */
.back-topbar {
    position: fixed;
    top: 80px;
    left: 240px;
    right: 0;
    height: 50px;
    background-color: white;
    z-index: 80;
}

.first,
.second,
.third,
.fourth {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-icon,
.revenue-icon,
.bookmark-icon {
    font-size: 18px;
}

body.sidebar-collapsed .top-bar,
body.sidebar-collapsed .back-topbar {
    left: 70px;
}

.sidebar,
.top-bar,
.back-topbar {
    transition: all 0.3s ease;
}


/* RESPONSIVE MEDIA QUERIES For HEADER, TOPBAR & SIDEBAR */
@media (max-width: 1200px) {
    .search-container input {
        width: 450px;
    }
}

@media (max-width: 1150px) {
    .search-container input {
        width: 400px;
    }
}

@media (max-width: 1100px) {
    .search-container input {
        width: 350px;
    }
}

@media (max-width: 1050px) {
    .search-container input {
        width: 300px;
    }
}

@media (max-width: 1000px) {
    .search-container input {
        width: 250px;
    }

    .notification {
        margin-right: 0;
    }
}

@media (max-width: 885px) {

    .wallet-btn span,
    .wallet-btn p {
        display: none;
    }
}

@media (max-width: 800px) {
    .header {
        gap: 20px;
    }

    .header-right {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .header-right {
        padding-right: 25px;
    }

    .logo {
        margin-left: 25px;
        margin-right: 0;
    }

    .search-container input {
        width: 300px;
    }

    .user-info {
        display: none;
    }

    .user-profile {
        display: flex;
    }
}

@media (max-width: 650px) {
    .search-container input {
        width: 250px;
    }
}

@media (max-width: 590px) {
    .search-container input {
        width: 200px;
    }
}

@media (max-width: 550px) {
    .header {
        gap: 20px;
    }

    .header-right {
        gap: 15px;
        padding-right: 10px;
    }

    .logo {
        height: 80px;
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .header {
        gap: 15px;
    }

    .header-right {
        gap: 10px;
        padding-right: 10px;
    }

    .logo {
        height: 80px;
        margin-left: 0;
    }
}

@media (max-width: 460px) {
    .search-container input {
        width: 170px;
    }

    .search-container input::placeholder {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
}

@media (max-width: 435px) {
    .header {
        gap: 10px;
    }

    .search-container input {
        width: 150px;
    }
}

@media (max-width: 403px) {
    .search-container input {
        width: 125px;
    }
}

@media (max-width: 365px) {
    .search-container input {
        width: 100px;
    }
}

@media (max-width: 340px) {
    .search-container input {
        width: 65px;
    }
}

/* --- TOPBAR SCROLLABLE At SMALLER WIDTHS --- */
@media (max-width: 1019px) {
    .top-bar {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        flex-wrap: nowrap;
        gap: 20px;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .top-bar::-webkit-scrollbar {
        display: none;
    }

    .top-bar .first,
    .top-bar .second,
    .top-bar .third,
    .top-bar .fourth {
        flex: 0 0 auto;
        min-width: max-content;
    }
}



.wallet-main {
    border-top: 1px solid transparent;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 130px);
    margin-top: 130px;
    margin-left: 240px;
    transition: margin-left 0.3s ease;
    scrollbar-width: none;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0;
}

body.sidebar-collapsed .wallet-main {
    margin-left: 70px;
}

/* .no-scroll {
    overflow: hidden !important;
} */


footer {
    background-color: white;
    color: rgba(100, 155, 197, 1);
    font-family: 'poppins';
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 10px 0 10px 0;
    margin-top: auto;
}

.wr-section,
.wd-section {
    margin: 30px 25px;
}

.header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'poppins';
}

.title {
    background: linear-gradient(to right, rgba(100, 155, 197, 1), rgba(210, 88, 27, 0.7));
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 24px;
    padding-left: 5px;
}

.export-report-btn {
    color: white;
    width: 160px;
    background-color: rgba(100, 155, 197, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    border: none;
    border-radius: 9px;
    font-size: 13px;
    padding: 7px 0;
    cursor: pointer;
    gap: 5px;
    align-items: center;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: stretch;
    margin-top: 20px;
}

.recharge-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    flex: 1;
    text-align: center;
}

.display-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
        inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.paytm-box,
.text-box {
    display: flex;
    justify-content: center;
    /* Center image horizontally */
    align-items: center;
}

/* Optional: Make images responsive */
.paytm-box img,
.text-box img {
    max-width: 80%;
    height: auto;
    display: block;
}

.button-box {
    align-items: center;
}

.button-box button {
    color: white;
    background-color: rgba(100, 155, 197, 1);
    padding: 5px 0;
    width: 100%;
    border-radius: 9px;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 14px;
    border: none;
    text-align: center;
}

.wallet-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    text-align: center;
}

.amount-box {
    background-color: rgba(100, 155, 197, 0.2);
    border-radius: 9px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.amount-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 30px 15px;
    background-color: white;
    border-radius: 9px;
    align-items: center;
}

.balance-part {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.balance-part span {
    color: rgba(100, 155, 197, 1);
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 400;
    text-align: left;
}

.divider {
    width: 1px;
    height: 80px;
    background: rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    border-radius: 2px;
}

.status-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-circle {
    width: 75px;
    height: 75px;
    border: 4px solid #70a4c2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.status-circle span {
    color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.buttons button {
    background-color: rgba(210, 88, 27, 0.7);
    color: white;
    border-radius: 9px;
    width: 100%;
    border: none;
    padding: 10px;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.detail-container {
    display: flex;
    flex-direction: column;
        margin-top: 20px;

}

.menu-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(100, 155, 197, 0.2);
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.filter-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}

.search-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-selectors {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1;
    min-width: 100px;
    flex-wrap: wrap;
}

.search-bar,
.status-selector,
.date-selector {
    width: 200px;
    max-width: 230px;
    min-width: 100px;
    flex: 1;
    border-radius: 9px;
    border: none;
    font-weight: 400;
    font-size: 12px;
    font-family: 'poppins';
    font-weight: 400;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.search-bar {
    color: black;
}

.status-selector,
.date-selector {
    color: rgba(0, 0, 0, 0.25);
}

.search-bar::placeholder,
.status-selector::placeholder,
.date-selector::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
}

.search-bar:focus {
    color: black;
    outline: none;
    border: none;
    box-shadow: 0 0 0 2px rgba(100, 155, 197, 0.7);
}

.status-selector:focus,
.date-selector:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(100, 155, 197, 0.7);
}

.status-selector option,
.date-selector option {
    color: rgba(0, 0, 0, 0.25);
}

.status-selector:valid,
.date-selector:valid {
    color: black;
}

.buttons-part {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.apply-btn {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 14px;
    padding: 4px 0;
    width: 90px;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(100, 155, 197, 1);
    color: white;
    border: none;
}

.clear-btn {
    font-family: 'poppins';
    font-weight: 500;
    font-size: 14px;
    padding: 4px 0;
    width: 90px;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    color: rgba(0, 0, 0, 0.25);
    border: none;
}

.tab-bar {
    display: flex;
    gap: 20px;
    padding: 5px 20px 20px 20px;
    align-items: center;
    justify-content: space-evenly;
}

.tab-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 9px;
    width: 115px;
    height: 40px;
    font-size: 12px;
    justify-content: center;
    vertical-align: middle;
    font-family: "poppins";
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.2s, color 0.2s;
}

.tab-btn.active {
    background: rgba(100, 155, 197, 1);
    color: rgba(255, 255, 255, 1);
}

.tab-badge {
    color: white;
    font-size: 10px;
    visibility: hidden;
}

.tab-btn.active .tab-badge {
    visibility: visible;
}

.data-part {
    background-color: white;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 15px;
}

.table-wrapper {
    border-radius: 9px;
    overflow: hidden;
    border: 2px solid rgba(217, 217, 217, 0.5);
}

.wallet-table {
    font-family: 'poppins';
    font-weight: 400;
    font-size: 14px;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.wallet-table thead th {
    padding: 15px 10px;
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(217, 217, 217, 0.5);
    font-weight: 400;
    text-align: left;
}

.wallet-table tbody td {
    padding: 10px;
    color: rgba(0, 0, 0, 0.25);
    text-align: left;
    font-size: 12px;
}

.wallet-table tbody tr:not(:last-child) td {
    border-bottom: 2px solid rgba(217, 217, 217, 0.5);
}


.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.wallet-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    font-family: 'poppins';
    width: auto;
}

.modal-header {
    padding: 15px;
 border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}

.modal-header h3 {
    font-size: 16px;
    color: rgba(100, 155, 197, 1);
    font-weight: 500;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 0 15px 15px 15px;
}

.amount-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.amount-section .currency,
.amount-section .amount {
    color: rgba(100, 155, 197, 1);
    font-size: 20px;
    font-weight: 400;
}

.divider {
    width: 1.5px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 25px;
}

.amount-section input {
    border: none;
    padding: 5px;
    width: 100px;
}

.amount-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;
}

.amount-buttons .add-amt {
    padding: 5px;
    border-radius: 9px;
    border: 1px solid rgba(100, 155, 197, 1);
    background-color: white;
    color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
    font-weight: 400;
}

.coupon-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.apply-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.apply-row i {
    color: rgba(100, 155, 197, 1);
    font-size: 25px;
}

.apply-row input {
    padding: 5px;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.25);
}

.apply-row .apply-btn {
    color: white;
    background-color: rgba(100, 155, 197, 1);
    padding: 4px 0;
    font-size: 14px;
    font-weight: 400;
}


.coupon-section .all-btn {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border: none;
    padding: 1px 4px;
    width: fit-content;  /* ensures it only takes as much as it needs */
    max-width: 100%;
    text-align: center;
    background-color: white;     /* safety so it won’t overflow small screens */
}
.all-btn span {
    font-size: 14px;
    color: rgba(100, 155, 197, 1);
    font-weight: 400;
}

.all-btn i {
    font-size: 7px;
    padding: 3px;
    border-radius: 50%;
    background-color: rgba(100, 155, 197, 1);
    color: white;
    text-align: center;
}

.modal-footer {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 5px;
}

.pay-btn {
    color: white;
    background-color: rgba(100, 155, 197, 1);
    border-radius: 9px;
    padding: 5px;
    width: 80%;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}


